.catalog {
  display: flex;
  .container();
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  margin-top: -100vh;
}

.catalog__title {
  width: 100%;
  margin: 0;
  padding-bottom: 31px;
  text-align: center;
}


@media @tablet-widths {
  .catalog {
    padding-left: 20px;
    padding-right: 20px;
  }
  .catalog__title {
    padding-bottom: 31px;
  }


}
@media @desktop-widths {
  .catalog {
    padding-top: 0;
    justify-content: space-between;
  }
}
