.main {
  display: flex;
  width: 100%;
  height: auto !important;
  min-height: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
//  padding-top: -100vh;
}

.main__title {
  text-align: center;
}

@media @tablet-widths {
  .main {
    padding-left: 20px;
    padding-right: 20px;
  }
}
